<div style="margin-top:-105px;">

    <div class="row justify-content-md-center text-center">

        <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px; box-shadow:0 5px 5px 0 gray;">

            <i class="bi-braces"></i>

            <h3>Back-end</h3>

            <p>
                Trabajo desde el desarrollo de requerimientos hasta el soporte inform&aacute;tico de sistemas
            </p>

            <p class="text-primary cabecera">
                Stack
            </p>

            <p>
                - PHP
                - .NET
                - Xamarin Forms
            </p>

            <p class="text-primary cabecera">
                Experiencia
            </p>

            <ul>
                <li>API Rest</li>
                <li>Windows Service</li>
                <li>Windows Desktop Apps</li>
                <li>Crystal Reports</li>
                <li>SQL Server</li>
                <li>MySQL</li>
                <li>SOAP</li>
            </ul>

        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius:0 15px 15px 0; box-shadow:0 5px 5px 0 gray;">

            <i class="bi-code-slash"></i>

            <h3>Front-end</h3>
            <p>
                Maquetado y creaci&oacute;n de front-ends seg&uacute;n requerimientos
            </p>

            <p class="text-primary cabecera">
                Stack
            </p>

            <p>
                - Bootstrap
                - ASP
            </p>

            <p class="text-primary cabecera">
                Experiencia
            </p>

            <ul>
                <li>JQuery</li>
                <li>Markdown</li>
                <li>XAML</li>
                <li>CSS</li>
                <li>Razor</li>
            </ul>

        </div>

    </div>

</div>
