<div class="text-center">
    <h4 class="display-4">Soy Hugo Vald&eacute;s (30)</h4>
    <h4>Soy un desarrollador Full Stack, especialista en PHP y C#</h4>

    <img id="foto" src="~/images/foto_portafolio.jpg" alt="Foto Hugo Valdes" />

</div>

<div class="text-center">

    <img id="dotnetLogo" src="~/images/dotnet-logo.png" alt="dotNet" />
    <img id="phpLogo" src="~/images/php-logo.png" alt="PHP" />

</div>

<div class="row justify-content-center text-center bg-primary">

    <div class="col col-md-7 seccion-bienvenida">

        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>He estado desarrollando software de manera profesional por 5 años en PHP y tecnologías .NET</p>
    </div>

</div>