@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por contactarte conmigo</h1>

<p>Te contactaré lo antes posible contigo</p>
<div><a asp-controller="Home" asp-action="Index">Volver al Home</a></div>